/**
* Variables used in this file from abstracts/_variable.scss
*
* None
*
*/
/**
* Specific variables (used only in this file) 
*
* None
*
**/

/**
*
* Fonts
*
**/
 
@font-face {
    font-family: 'Aller';
    src: url('../fonts/Aller/Aller_Bd.eot');
    src: url('../../fonts/Aller/Aller_Bd.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aller/Aller_Bd.woff2') format('woff2'),
         url('../fonts/Aller/Aller_Bd.woff') format('woff'),
         url('../fonts/Aller/Aller_Bd.ttf') format('truetype'),
         url('../fonts/Aller/Aller_Bd.svg#Aller_Bd') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Aller';
    src: url('../fonts/Aller/Aller_BdIt.eot');
    src: url('../fonts/Aller/Aller_BdIt.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aller/Aller_BdIt.woff2') format('woff2'),
         url('../fonts/Aller/Aller_BdIt.woff') format('woff'),
         url('../fonts/Aller/Aller_BdIt.ttf') format('truetype'),
         url('../fonts/Aller/Aller_BdIt.svg#Aller_BdIt') format('svg');
    font-weight: 900;
    font-style: italic;
}
 
@font-face {
    font-family: 'Aller';
    src: url('../fonts/Aller/Aller_It.eot');
    src: url('../fonts/Aller/Aller_It.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aller/Aller_It.woff2') format('woff2'),
         url('../fonts/Aller/Aller_It.woff') format('woff'),
         url('../fonts/Aller/Aller_It.ttf') format('truetype'),
         url('../fonts/Aller/Aller_It.svg#Aller_It') format('svg');
    font-weight: 300;
    font-style: italic;
}
 
@font-face {
    font-family: 'Aller';
    src: url('../fonts/Aller/Aller_Lt.eot');
    src: url('../fonts/Aller/Aller_Lt.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aller/Aller_Lt.woff2') format('woff2'),
         url('../fonts/Aller/Aller_Lt.woff') format('woff'),
         url('../fonts/Aller/Aller_Lt.ttf') format('truetype'),
         url('../fonts/Aller/Aller_Lt.svg#Aller_Lt') format('svg');
    font-weight: 100;
    font-style: normal;
}
 
@font-face {
    font-family: 'Aller';
    src: url('../fonts/Aller/Aller_LtIt.eot');
    src: url('../fonts/Aller/Aller_LtIt.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aller/Aller_LtIt.woff2') format('woff2'),
         url('../fonts/Aller/Aller_LtIt.woff') format('woff'),
         url('../fonts/Aller/Aller_LtIt.ttf') format('truetype'),
         url('../fonts/Aller/Aller_LtIt.svg#Aller_LtIt') format('svg');
    font-weight: 100;
    font-style: italic;
}
 
@font-face {
    font-family: 'Aller';
    src: url('../fonts/Aller/Aller_Rg.eot');
    src: url('../fonts/Aller/Aller_Rg.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aller/Aller_Rg.woff2') format('woff2'),
         url('../fonts/Aller/Aller_Rg.woff') format('woff'),
         url('../fonts/Aller/Aller_Rg.ttf') format('truetype'),
         url('../fonts/Aller/Aller_Rg.svg#Aller_Rg') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'AllerDisplay';
    src: url('../fonts/Aller/AllerDisplay.eot');
    src: url('../fonts/Aller/AllerDisplay.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aller/AllerDisplay.woff2') format('woff2'),
         url('../fonts/Aller/AllerDisplay.woff') format('woff'),
         url('../fonts/Aller/AllerDisplay.ttf') format('truetype'),
         url('../fonts/Aller/AllerDisplay.svg#AllerDisplay') format('svg');
    font-weight: 400;
    font-style: normal;
}