.blog {
	
	&-list {
		width: 100%;
		margin-bottom: 57px;

		&__image {
			width: 23.08%;
			float: left;
			@extend .border-radius; 
			padding-bottom: 270px;
			margin-right: 3%;	

			@include breakpoint($breakpoint_desktop){    
	            width: 100%;
	            margin-right: 0;
	            margin-bottom: 25px; 
	        }
		}

		&__content {
			width: 70%;
			float: left; 
    		position: relative;

			@include breakpoint($breakpoint_desktop){    
	            width: 100%;
	            margin-right: 0;	
	        }

	        &-text {
	        	min-height: 188px;

	        	@include breakpoint($breakpoint_desktop){    
		            min-height: auto;
		        }
	        }
		}

		&__date {
			color: $color_brand;
			font-family: $font_family_2;
			line-height: 18px;
			margin-bottom: 9px;
		}

		&__title {
			margin-bottom: 5px;
		}

		p {
			margin-bottom: 20px;
		}
	}
	
	&-archive {
		padding: 70px 0px 120px;

		&__top {
			color: $color_brand_2;
			font-family: $font_family_2;
			display: block;
			margin-bottom: 30px;
		}	

		@include breakpoint($breakpoint_desktop){    
            padding: 70px 0px 0px;	
        }	
	}
}