#content {
    margin-top: 180px;

    @include breakpoint($breakpoint_laptop) {
        margin-top: 140px;
    }	
}
.container {
	@include breakpoint($breakpoint_desktop){
		padding: 0px 15px;
	} 
}
.am2-content {
	position: relative; 

	&__row {
		margin-bottom: 60px;
		clear: both;

		&:last-child {
			margin-bottom: 0px;
		}

		ul {
			margin-left: 15px;
			margin-bottom: 35px;

			li {
			 	padding-left: 18px; 
			}
		}

		&-13 {
			position: relative;
			width: 28.077%;
			float: left;
			padding-left: 43px;
			font-weight: 100;

			a[href^="mailto"] {
				margin-top: 10px;

				&:before {
					content: "";
    				position: absolute; 
					background: url('../images/email.svg') no-repeat 0 0;
					background-size: cover;
	 				width: 23px;
	 				height: 17px;
	 				left: 0px;
	 				margin-top: 5px;
				}
		    	
		    }

		    a[href^="tel"] {
		    	font-size: 20px;
		    	margin-top: 10px;

		    	&:before {
					content: "";
    				position: absolute; 
					background: url('../images/phone.svg') no-repeat 0 0;
		    		background-size: cover;
	 				width: 25px;
	 				height: 25px;
	 				left: 0px;
	 				margin-top: 5px;
				}		    	
		    }

		    @include breakpoint($breakpoint_tablet){
				width: 100%;
			} 

			blockquote {
				font-size: 28px;
				color: $color_brand;
				font-style: italic;
				line-height: 38px;
			}
		}

		&-23 {
			width: 65.813%;
			float: right;
			margin-bottom: 35px;

			@include breakpoint($breakpoint_tablet){
				width: 100%;
			}
		}
	}

	h2 {
		padding-bottom: 5px;
		line-height: 58px;
	}
}