.footer {
	width: 100%;
	padding: 51px 0px;

	@include breakpoint($breakpoint_tablet) {
        padding: 20px 0px;
        text-align: center;
    }

	&--site {
		color: #ffffff;
		background: $bg_color_3;
		font-weight: 100;
	}

	.social {
		float: right;
		margin: 0;

		@include breakpoint($breakpoint_tablet) {
	        float: none;
	        text-align: center;
	    }

	    &__icon {
        	svg {  
        		fill: #fff;
        	}
        }
	}
}

.copyright {
	float: left;
	line-height: 33px;

	@include breakpoint($breakpoint_tablet) {
        width: 100%;
        line-height: 25px;
        margin-bottom: 15px;
    }
}
