.header {

	&--site {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		padding: 0px;
		color: #000;
		z-index: 9999;
	}

	&.sticky {

		background-color: #fff;
		-webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.15);
        -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.15);
		box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.15);
		
		.logo__image {
			padding-bottom: 40px;
			margin-top: 20px;

			@include breakpoint($breakpoint_desktop) {
	            margin-top: 10px;
	            margin-bottom: 10px;
	        }	
		}

		.resp-buttons {
			@include breakpoint($breakpoint_laptop) {
	            margin-top: 20px;
	        }			
		}

		.menu--main-menu {
			height: $header_lineheight_2;
		}

		.menu--main-menu .menu-item {
			line-height:  $header_lineheight_2;

			a {
				padding: 0;
			}
		}

		.menu .sub-menu .menu-item a {
			padding: 15px;
		}

		.menu--main-menu .menu-item .submenu-button {
			top: 41px;
		}

		.menu-top {
			right: -51px;
			top: 25px;
		}

		.main-navigation {
			margin-right: 120px;
		}
	}

	&-title {
		display: block;  
	    background-position: center center;
	    background-repeat: no-repeat;
	    margin-bottom: 27px;

	    @include breakpoint($breakpoint_desktop) {
	        margin-bottom: 0px;
	    }

	    &__title {
	    	color: #fff;
	    	text-align: center;
	    	font-size: 56px;
	    	padding: 66px 0px 65px;	   

	    	@include breakpoint($breakpoint_small) {
		        font-size: 45px;
		    } 	
	    }
	}

}

.header__logo {
	margin: 0;
	padding: 0;
	line-height: 1;
	a {
		img {
			width: 100%;
		}

	}
}