/*** Layout ***/

.layout {
	position: relative;
	width: 100%;
	padding: $layout_padding 0px 95px;
	background-size: cover;
	background-position: center;

	@include breakpoint($breakpoint_mobile){
        padding: 40px 0px;
    }
}

.wrapper { 
    width: 100%; 
    max-width: $outer_width; 
    margin: 0 auto;
    position: relative; 
}

.layout--narrow .wrapper {
	width: $grid_content_narrow;
}
