.blog-single {

	&__top { 
		color: $color_brand_2;
		font-size: 18px;
	    font-family: $font_family_2;
	    display: block;
	    margin-bottom: 8px;
	}

	&__title {
		font-size: 56px;
		margin-bottom: 35px;
	}

	&__content {
		width: 70%;
		float: left;
		margin-right: 5%;
		margin-bottom: 50px;
		position: relative;

		.flexible-block .layout {
			padding-top: 0px;		

			@include breakpoint($breakpoint_desktop){    
	            padding-bottom: 40px;	              
	        }
		}

		.flexible-block .container {
			padding: 0px;
		}

		@include breakpoint($breakpoint_desktop){    
            width: 100%;  
            margin-right: 0%;               
        }
	}

	.am2-file__subtitle {
		font-size: 39px;
	}

	&__social {
		position: absolute;
		top: 0;
		left: -70px;
		width: 45px;
		padding: 0px;

		@include breakpoint($breakpoint_desktop){    
            position: relative; 
            width: 100%; 
            left: 0;          
        }
	}

	&__date {
		color: #c7c7c7; 
		font-weight: 100;
		margin-bottom: 25px;
		display: block;
	}  

	&__sidebar {
		width: 25%;
		float: right;
		margin-bottom: 50px;


		@include breakpoint($breakpoint_desktop){    
            width: 100%;  
            margin-right: 0%;  

        }
	}

	&__list {
		margin-top: 10px;
		margin-bottom: 50px;

    	&-item {
    		padding-bottom: 362px;
			margin-bottom: 30px;
	    	width: 100%;
	    	@extend .border-radius;
    	}
	}

	&__image {
		padding-bottom: 59.95%;
		margin-bottom: 30px;
	}

	&__img {
		position: relative;
	}
}