/**
*
* Global
*
**/
.global {
        
    &-circle {
        display: block;
        width: 370px;
        height: 370px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        margin: 0 auto;

        @include breakpoint($breakpoint_small){    
            width: 250px;
            height: 250px;                   
        } 

        &__pull {
            background-color: rgba( 0,0,0,0.2 );
        }
    }

    &-font {
        color: $color_brand;  

        &-v1 {
           color: $color_brand_2;
        }

        &-v2 {
           color: $color_brand_3;
        }
    }

    &-bg {

        &__color {
            background-color: $color_brand;  
        }

        &__color-v1 {
            background-color: $color_brand_2;  
        }

        &__color-v2 {
            background-color: $color_brand_3;  
        }

        &__color-v3 {
            background-color: $bg_color_4;  
        }

        &__color-v4 {
            background-color: $color_button_text;  
        } 
        &__circle {        

            .global-text {
                color: $color_brand;
            }

            .global-circle{
                background-color: $color_brand_2;
            }
        }

        &__circle-1 {        

            .global-text {
                color: $color_brand;
            }

            .global-circle{
                background-color: $color_brand_3;
            }
        }

        &__circle-2 {  

            .global-text {
                color: $color_brand_2;
            }

            .global-circle{
                background-color: $color_brand;
            }
        }
    }
}