<div id="am2-accordion-{{ block_position }}" class="am2-accordion">
    {% for key,element in accordion %}
        <div class="am2-accordion__panel">
            <h3 class="am2-accordion__panel-title">
                {{ element.title }}
                <svg class="svg-arrow--down am2-accordion__toggle-icon">
                    <use xlink:href="{{ function('get_stylesheet_directory_uri') }}/assets/images/sprite.svg#arrow--down"></use>
                </svg>
            </h3>
            <div class="am2-accordion__panel-content">
                {{ element.content }}
            </div>
        </div>
    {% endfor %}
</div>

<script>
    $( document ).ready( function() {
        var args = {
            "blockId": "am2-accordion-{{ block_position }}"
        };   
        am2.main.accordion( args );
    });
</script>