<div class="aktualno layout global-bg__{% if pozadinska_boja == 'Zelena' %}color{% elseif pozadinska_boja == 'Žuta' %}color-v1{% elseif pozadinska_boja == 'Siva' %}color-v3{% elseif pozadinska_boja == 'Bijela' %}color-v4{% else %}color-v2 {% endif %} clearfix">
    <div class="wrapper">
        <div class="container"> 
            <h2 class="aktualno__title left">{{ aktualno_title }}</h2>  
            <a href="{{ arhiva_link }}" class="button button--secondary button--right">{{ arhiva_title }}</a> 
            <div class="aktualno__article clearfix">  
                {% for item in posts_data %}  
                    <figure class="aktualno__article-list invisible" data-appear-effect="fadeInUp" style="background-image:url( {{ item.image[0] }} );"> 
                        <meta itemprop="image" content=" {{  item.image[0] }}"> 
                        <a href="{{ item.link }}" class="aktualno__link">
                            <div class="aktualno__article-title">
                                <span class="aktualno__date">{{ item.date }}</span>
                                <h3 class="aktualno__link-title">{{ item.title }}</h3>
                            </div>
                            <svg class="svg-arrow aktualno__arrow">
                                <use xlink:href="{{ function('get_stylesheet_directory_uri') }}/assets/images/sprite.svg#arrow--left-new"></use>
                            </svg>
                        </a>
                    </figure>     
                {% endfor %}
            </div>   
        </div>
    </div>
    <img src="{{ pozadinska_ikonica.url }}" data-appear-effect="fadeInUp" class="aktualno__bottom invisible">
</div>
<script>
    $( document ).ready( function() {
        am2.main.loadScript( 'waypoints', am2.templateDirectory + '/assets/js/waypoints.min.js', function() {
            return am2.main.appearAnimations();
        });
    });
</script>