<div class="anketa layout global-bg__{% if pozadinska_boja == 'Zelena' %}color{% elseif pozadinska_boja == 'Žuta' %}color-v1{% elseif pozadinska_boja == 'Siva' %}color-v3{% elseif pozadinska_boja == 'Bijela' %}color-v4{% else %}color-v2 {% endif %} clearfix">
    <div class="wrapper">
        <div class="container">             
            <div class="anketa__left col-12">
                <h2 class="anketa__top global-text">{{ anketa_title }}</h2>  
               [poll id="{{ anketa_id }}"]  
            </div>
            <div class="anketa__right col-12">
                <div class="global-circle global-circle__pull"></div>
                <img src="{{ pozadinska_ikonica.url }}" data-appear-effect="fadeInUp" class="anketa__image invisible slika-tekst__animation--sec">
            </div>
        </div>
    </div>
    
</div>
<script>
    $( document ).ready( function() {
        am2.main.loadScript( 'waypoints', am2.templateDirectory + '/assets/js/waypoints.min.js', function() {
            return am2.main.appearAnimations();
        });
    });
</script>