<div class="goals clearfix">
    <div class="wrapper">
        <div class="container"> 
            <h2 class="goals__title">{{ naslov }}</h2>
            <div class="goals__row clearfix">
                {% for ciljevi in ciljevi_centra %}
                    <div class="goals__col col-14 invisible" data-appear-effect="fadeInLeft">                
                        <img src="{{ ciljevi.slika.url }}" class="goals__image" />              
                        {{ ciljevi.tekst }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script>
    $( document ).ready( function() {
        am2.main.loadScript( 'waypoints', am2.templateDirectory + '/assets/js/waypoints.min.js', function() {
            return am2.main.appearAnimations();
        });
    });
</script>