<div class="am2-files layout clearfix">
    <div class="wrapper">
        <div class="container am2-file">
            {% if link %}
                <h2 class="am2-file__main-title no-file">
                    <svg class="am2-file__icon">
                        <use xlink:href="{{ function('get_stylesheet_directory_uri') }}/assets/images/sprite.svg#icon--edit"></use>
                    </svg>  
                    <a href="{{ link }}">{{ naslov }}</a>
                </h2> 
            {% else %}
                 <h2 class="am2-file__main-title no-file">{{ naslov }} </h2> 
            {% endif %} 

            {% for dok in dokumenti %}       
                <h3 class="am2-file__subtitle">{{ dok.podnaslov }}</h3>
                <ul class="am2-file__row">
                {% for file in dok.files %}  
                    {% if file.type != 'NA' %}
                    
                        <li class="am2-file__row-item">
                            <a href="{{ file.file.url }}" class="am2-file__link am2-file__tooltip" target="_blank">                                
                                                             
                                <svg class="am2-file__icon">
                                    <use xlink:href="{{ function('get_stylesheet_directory_uri') }}/assets/images/sprite.svg#doc--icon-{{ file.file.mime_type|replace({"/" : ""}) }}"></use>
                                </svg> 
                                <div class="am2-file__title">                                     
                                    {{ file.name }}                                  
                                </div>                               
                                <div class="am2-file__size"> 
                                    1.2MB
                                </div>
                            </a>                    
                        </li>  
                    
                    {% else %}
                        <a href="#" class="am2-file__link" target="_blank">NA</a>
                    {% endif %}
                 
                {% endfor %}
                </ul>      
            {% endfor %}    
        </div>
    </div>
</div>
