<div class="am2-gallery am2-gallery--thumbnails clearfix">
	<h3 class="am2-gallery__title">{{ gallery_title }}</h3>
	<div>
	{% for image in images %} 
	{% set counter = counter + 1  %}
		{% if counter < '8'  %} 
			<figure class="{{ column_class }} am2-gallery__image" >
				<a href="{{ image.image_object.sizes.large }}" rel="gallery-{{ block_position }}">
					<figure>
	                    {{ image.image_html }}
	                </figure>
				</a>
			</figure>
		{% endif %}		
	{% endfor %} 
	</div>
	<figure class="{{ column_class }} am2-gallery__image am2-gallery__image--last"  >
			<a href="{{images.8.image_object.sizes.large}}" rel="gallery-{{ block_position }}" class="fancybox image">
			<figure>
              + {{ gal_no_nwe }}
            </figure>
		</a>
	</figure>
</div>