<div class="am2-gallery am2-gallery--slider js-slick-slider" data-slick='{"slidesToShow": 4, "slidesToScroll": 1, "speed": 300}'>
	{% for image in images %}
		<div class="am2-gallery__item">
			<figure class="am2-gallery__image">
				<a href="{{ image.image_object.sizes.large }}" rel="gallery-{{ block_position }}">
					{{ image.image_html }}
				</a>
			</figure>
		</div>
	{% endfor %}
</div>