<figure class="header-title" style="background-image:url({{ header_image }});">
	<meta itemprop="image" content="{{ header_image }}">
	<figcaption class="container">
		<h1 class="header-title__title">{{ header_title }}</h1>
	</figcaption>
</figure> 