<div class="wrapper">
    <div class="container ">  
        <div class="intro-text clearfix {% if boje == 'Zelena' %}global-font{% elseif boje == 'Plava' %}global-font-v2{% else %}global-font-v1{% endif %}"> 
        	{{ intro_text }}
        </div>
    </div>
</div> 