<div class="contact-form global-bg__{% if pozadinska_boja == 'Zelena' %}color{% elseif pozadinska_boja == 'Žuta' %}color-v1{% elseif pozadinska_boja == 'Siva' %}color-v3{% elseif pozadinska_boja == 'Bijela' %}color-v4{% else %}color-v2 {% endif %} clearfix">
	<div class="wrapper">
        <div class="container">         
        	{{ kontakt_forma }}	     
		</div>
	</div>
</div>