<div class="map-block global-bg__{% if pozadinska_boja == 'Zelena' %}color{% elseif pozadinska_boja == 'Žuta' %}color-v1{% elseif pozadinska_boja == 'Siva' %}color-v3{% elseif pozadinska_boja == 'Bijela' %}color-v4{% else %}color-v2 {% endif %} clearfix">
	<div class="wrapper"> 
		<div class="container">
			<div class="map-block__left col-12">
				<span class="slika-tekst__top global-text">{{ naslov_top }}</span>
				<h2 class="map-block__title">{{ naslov }}</h2>
				<div class="map-block__data">
					{{ lokacija_i_podaci }}
				</div>
				<div class="map-block__hours">
					{{ radno_vrijeme }}
				</div>
			</div>			
		</div>
	</div>
	<div class="map-block__right col-12">
		<div id="am2-map-{{ block_position }}" class="am2-map"></div>
	</div>
</div>

<script>
	$( document ).ready( function() {
        var args = {
			"blockId": "am2-map-{{ block_position }}",
            "lat": {{ map.lat }},
            "lng": {{ map.lng }},
            "address": "{{ map.address }}"
		};

		am2.main.loadScript( 'google-map', 'https://maps.googleapis.com/maps/api/js?key={{ map.api_key }}', function() {
			return am2.main.googleMap( args );
		});
	});
</script>