<div id="am2-slider-{{ block_position }}" class="am2-slider">  

	{% for slide in slider %}
		<div class="am2-slider__item">

			<figure class="am2-slider__image" style="background-image:url(  {{ slide.slide_image.sizes.slider }} );">
				<div class="am2-slider__overlay"></div>					
				<meta itemprop="image" content=" {{ slide.slide_image.sizes.slider }}">
				{% if slide.slide_caption %}
					<figcaption class="am2-slider__content"> 
						{{ slide.slide_caption }}

						{% if slide.slide_link %}
						<a href="{{ slide.slide_link }}" class="button button--primary button--slider">						 
							{{ slide.naziv_linka }}					 
						</a>
						{% endif %}

					</figcaption>
				{% endif %}					
			</figure>
		</div>
	{% endfor %}
</div>

<script>
	$( document ).ready( function() {
        var args = {
			"blockId": "am2-slider-{{ block_position }}",
			"options": {
				"slidesToShow": 1,
				"slidesToScroll": 1,
				"autoplay": true,
				"autoplaySpeed": {{ slide_duration }},
				"dots": {{ slider_show_bullets }},
				"arrows": {{ slider_show_prev_and_next_arrows }}
			}
		};

		am2.main.loadScript( 'slick-slider', am2.templateDirectory + '/assets/js/slick.min.js', function() {
			return am2.main.slickSlider( args );
		});
	});
</script>