{% for slika_tek in slika_tekst %}  
    <div class="slika-tekst {% if slika_tek.ikonicacitat == 'Citat' %} slika-tekst--v1 parallax-bg {%endif%}" {% if slika_tek.ikonicacitat == 'Citat' %} style="background-image: url({{ slika_tek.pozadinska_slika.url }});"  {%endif%} > 

        <div class="wrapper">
            <div class="container">            
                <div class="slika-tekst__row clearfix global-bg__{% if slika_tek.boja == 'Žuta' %}circle{% elseif slika_tek.boja == 'Plava' %}circle-1{% else %}circle-2 {% endif %}">
                    <div class="slika-tekst__row-text text">
                        <span class="slika-tekst__top global-text"> 
                            {{ slika_tek.tag }}                          
                        </span>
                        <h2 class="slika-tekst__title">
                            {{ slika_tek.naslov }}
                        </h2>
                        <div class="slika-tekst__content">
                            {{ slika_tek.tekst }}
                        </div>
                        <a href="{{ slika_tek.link }}" class="button button--primary" tabindex="0">                       
                            {{ slika_tek.ime_linka }}             
                        </a>
                    </div> 
                    <div class="slika-tekst__row-image image">    
                        <div class="global-circle slika-tekst__circle"></div>  
                        {% if slika_tek.ikonicacitat == 'Ikonica' %}
                        {% set counter = counter + 1  %}
                            <img src="{{ slika_tek.ikonica.sizes.medium }}" data-appear-effect="fadeInUp" class="slika-tekst__absolute invisible slika-tekst__animation slika-tekst__animation--{{counter}} " />
                        {% else %}
                            <div class="slika-tekst__absolute slika-tekst__quotation invisible" data-appear-effect="fadeInUp">
                                <span class="slika-tekst__quotation-quote">"</span>
                                {{ slika_tek.citat }}
                                <span class="slika-tekst__quotation-author">{{ slika_tek.autor_citata }}</span>
                            </div>
                        {% endif %}
                    </div>    
                </div>           
            </div>
        </div> 
    </div>
 {% endfor %}
<script>
    $( document ).ready( function() {
        am2.main.loadScript( 'waypoints', am2.templateDirectory + '/assets/js/waypoints.min.js', function() {
            return am2.main.appearAnimations();
        });

        am2.main.scrollAnimations();
    }); 
</script>