<div id="am2-tabs-{{ block_position }}" class="am2-tabs">
    <ul class="am2-tabs__titles">

        {% for key,tab in tabs %}
            <li class="am2-tabs__title">
                <a href="#tab-{{ block_position }}-{{ key }}" class="am2-tabs__link">{{ tab.title }}</a>
            </li>
        {% endfor %}

    </ul>
    <div class="am2-tabs__panels">

        {% for key,tab in tabs %}
            <div class="am2-tabs__panel">
                {{ tab.content }}
            </div>
        {% endfor %}

    </div>
</div>

<script>
	$( document ).ready( function() {
        var args = {
			"blockId": {{ block_position }}
		};
		am2.main.tabs( args );
	});
</script>