<div class="values clearfix">
    <div class="wrapper">
        <div class="container"> 
            <h2 class="values__title">{{ naslov }}</h2>
            <div class="values__row clearfix"> 
                {% for vrijednost in vrijednosti %}  
                    <div class="values__bubble values__bubble--{% if vrijednost.pozadinska_boja == 'Zelena' %}v1{% elseif vrijednost.pozadinska_boja == 'Plava' %}v2{% elseif vrijednost.pozadinska_boja == 'Siva' %}v3{% else %}v4{% endif %} invisible" data-appear-effect="fadeInUp">
                        {{ vrijednost.naziv }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script>
    $( document ).ready( function() {
        am2.main.loadScript( 'waypoints', am2.templateDirectory + '/assets/js/waypoints.min.js', function() {
            return am2.main.appearAnimations();
        });
    });
</script>