<div class="am2-content clearfix">       
    <div class="wrapper layout">
        <div class="container">  
        {% for content_item in content %}  

    	   {% if main_title == 'Da' %}
    	   	<div class="am2-content__row {% if content_item.sidebar %} am2-content__row-23 {% endif %}">
    	    	<h2 class="am2-content__title">
    	    		{{ title_name }}
    	    	</h2>
    	    </div>
    	    {% endif %}	
    	    
            <div class="am2-content__row {% if content_item.sidebar %} am2-content__row-23 {% endif %}">
                {{ content_item.wysiwyg }}

                {% if content_item.dokument %}
                	<ul class="am2-file__row">
    	            {% for dok in content_item.dokument %}
                        <li class="am2-file__row-item">
                            <a href="{{ dok.dokument.url }}" class="am2-file__link am2-file__tooltip" target="_blank">
                                                                
                                <svg class="am2-file__icon">
                                    <use xlink:href="{{ function('get_stylesheet_directory_uri') }}/assets/images/sprite.svg#doc--icon-{{  dok.dokument.mime_type|replace({"/" : ""}) }}"></use>
                                </svg>   
                                <div class="am2-file__title">                                     
                                      {{ dok.ime_dokumenta }}                                       
                                </div>                               
                                <div class="am2-file__size"> 
                                    1.2MB
                                </div>
                            </a>                    
                        </li>  
    	            {% endfor %}
    	            </ul>
    	        {% endif %}
            </div>

            {% if content_item.sidebar %}
        	<div class="am2-content__row-13">
        		{{ content_item.sidebar }}
        	</div>
        	{% endif %}
        {% endfor %} 
        </div>
    </div>
</div>