<div class="employees clearfix">
    <div class="wrapper">
        <div class="container"> 
            <h2 class="employees__title">{{ naslov }}</h2>
            <div class="employees__row clearfix">
                {% for zaposl in zaposlenici %}
                    <div class="employees__col col-13 invisible" data-appear-effect="fadeInUp">
                        <figure class="employees__image" style="background-image:url( {{ zaposl.slika.sizes.large }} );"> 
                            <meta itemprop="image" content="{{ zaposl.slika.sizes.large }}"> 
                        </figure> 
                        <h3 class="employees__name"><a href="mailto:{{ zaposl.email }}">{{ zaposl.ime_zaposlenika }}</a></h3>
                        <span class="employees__job">{{ zaposl.titula }}</span>
                        {{ zaposl.opis }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script>
    $( document ).ready( function() {
        am2.main.loadScript( 'waypoints', am2.templateDirectory + '/assets/js/waypoints.min.js', function() {
            return am2.main.appearAnimations();
        });
    });
</script>