.aktualno{
    
    &__title {
        color: #fff;
        font-size: 56px;
        font-weight: 100;
    }

    &__arrow {
        fill: $color_brand_3;
        color: $color_brand_3;
        display: inline-block;
        width: 5%;
        height: 46px;
        vertical-align: middle; 
        -ms-transform: rotate(180deg); /* IE 9 */
        -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
        transform: rotate(180deg);
    }

    &__bottom {
        fill: #fff;
        position: absolute;
        bottom: -15px;
        width: 300px;
        -ms-transform: rotate(-15deg);
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);

        @include breakpoint($breakpoint_tablet){
            bottom: -115px;
        }
    }

    &__article {
        float: left;
        width: 100%;
        padding: 40px 0px;
        position: relative;
        z-index: 2;
 
        &-list {
            float: left;   
            height: 0;        
            margin-bottom: 30px;
            background-position: center center;
            background-repeat: no-repeat;
            @extend .border-radius;

            @include breakpoint($breakpoint_tablet){
                margin-bottom: 2.5%;
            }

            &:first-child {
                padding-bottom: 754px;
                width: 48.75%;
                margin-right: 2.5%;

                @include breakpoint($breakpoint_tablet){
                    padding-bottom: 362px;
                }

                @include breakpoint($breakpoint_small){
                    width: 100%;
                    margin-right: 2.5%;
                }
            }
           
            &:nth-child(2) {
                padding-bottom: 362px;
                width: 48.75%;

                @include breakpoint($breakpoint_small){
                    width: 100%;
                    margin-right: 2.5%;
                }
            }

            &:nth-child(3) {
                padding-bottom: 362px;
                width: 48.75%;

                @include breakpoint($breakpoint_tablet){
                    margin-right: 2.5%;
                }

                @include breakpoint($breakpoint_small){
                    width: 100%;
                    margin-right: 2.5%;
                }
            }

            &:nth-child(4) {
                padding-bottom: 470px;
                width: 31.65%;
                clear: left;
                margin-right: 2.5%;

                @include breakpoint($breakpoint_tablet){
                    width: 48.75%;
                    padding-bottom: 362px;
                    margin-right: 0px;
                    clear: none;
                }

                @include breakpoint($breakpoint_small){
                    width: 100%;
                    margin-right: 2.5%;
                }
            }

            &:nth-child(5) {
                padding-bottom: 470px;
                width: 31.65%;
                margin-right: 2.5%;

                @include breakpoint($breakpoint_tablet){
                    width: 48.75%;
                    padding-bottom: 362px;
                }

                @include breakpoint($breakpoint_small){
                    width: 100%;
                    margin-right: 2.5%;
                }
            }

            &:nth-child(6) {
                padding-bottom: 470px;
                width: 31.65%;

                @include breakpoint($breakpoint_tablet){
                    width: 48.75%;
                    padding-bottom: 362px;
                }

                @include breakpoint($breakpoint_small){
                    width: 100%;
                    margin-right: 2.5%;
                }
            }
        }

        &-title {
            color: #fff;
            font-size: 56px;
            font-weight: 100;
            display: inline-block;
            vertical-align: middle;
            width: 90%;
            margin-right: 3%;

            @include breakpoint($breakpoint_tablet){
                width: 89%;
            }

            @include breakpoint($breakpoint_mobile){    
                font-size: 40px;                   
            } 
        }
    } 

    &__link {        
        color: #fff;
        font-weight: 100;
        background-color: rgba( 0, 0, 0, 0.65 );
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 14px 5.2% 26px;

        &:hover {
            color: $color_brand_2;
            background-color: rgba( 0, 0, 0, 0.90 );

        }

        &-title {
            font-size: 18px;
        }
    }

    &__date {
        color: $color_brand_2;
        font-size: 18px;
        width: 100%;
        display: block;
        margin-bottom: 5px;
        font-family: $font_family_2;
    }
}