.anketa{
    
    &__title {
        color: #fff;
        font-size: 56px;
        font-weight: 100;
    }

    &__image {
        position: absolute;
        margin: 0 auto;
        top: 40px;
        bottom: 0;
        left: 0;
        right: 0;
        max-width: 370px;

        @include breakpoint($breakpoint_small){    
            width: 200px;                   
        } 
    }
     
    &__top {
        color: $color_brand_2;
        font-family: "AllerDisplay", sans-serif;
        display: block;
        font-size: 18px;
    }

    &__left {
        position: relative;
        width: 65.43%;

        @include breakpoint($breakpoint_desktop){
            width: 100%;
        }             
    }  

    &__right {
        width: 32%;
        position: relative;
        margin-right: 0%;

        @include breakpoint($breakpoint_desktop){
            width: 100%;
        }             
    }    
    
    &__pitanje {
        font-size: 56px;    
        font-family: "Aller", sans-serif;
        font-weight: 100;
        color: rgba(255,255,255,0.7);
        margin-bottom: 28px;

        @include breakpoint($breakpoint_mobile){    
            font-size: 40px;                   
        } 
    }

    &_view_res {
        font-weight: 100;
        display: block;
        font-size: 18px;
        margin-top: 35px;
    }
    .button {
        background: $color_brand_3;
        color: #ffffff;
        fill: #ffffff;
        padding: 21px 38px 21px;
        border: none;
        min-width: 250px;

        &:hover  {   
            background: $color_brand_2;
        }
    }

    .wp-polls-ul {
        
        margin-bottom: 30px;
        margin-left: 0px;

        li {
            position: relative;
            font-size: 18px;
            line-height: 31px;
            margin-bottom: 10px;

            label {
                color: #dddddd;
            }

            input {
                position: absolute; // take it out of document flow
                  opacity: 0; // hide it
                  border: none;

                  & + label {
                    position: relative;
                    cursor: pointer;
                    padding: 0;
                    margin-left: 0;
                    padding-left: 45px;
                    font-weight: 100;
                    padding-top: 5px;
                  }

                  // Box.
                  & + label:before {
                    content: '';
                    margin-right: 10px;
                    display: inline-block;
                    vertical-align: text-top;
                    width: 31px;
                    height: 31px;
                    background: white;
                    border: none;
                  }

                  // Box hover
                  &:hover + label:before {
                    background: rgba(255,255,255,0.7);
                  }
                  
                  // Box focus
                  &:focus + label:before {
                    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
                  }

                  // Box checked
                  &:checked + label:before {
                    background:  rgba(255,255,255,0.7);
                  }
                  
                  // Disabled state label.
                  &:disabled + label {
                    color: #b8b8b8;
                    cursor: auto;
                  }

                  // Disabled box.
                  &:disabled + label:before {
                    box-shadow: none;
                    background: #ddd;
                  }

                  // Checkmark. Could be replaced with an image
                  &:checked + label:after {
                    content: '✓';
                    position: absolute;
                    left: 5px;
                    top: 1px;
                    color: #fff;
                    font-size: 28px;
                    transform: rotate(7deg);
                    background-color: #ddd;
                }
            }
        }
    }
}

.total_voters_text {float: left;}
.total_voters_text strong {float: right;} 