/**
* Variables used in this file from abstracts/_variable.scss
*
$color_primary
$color_secondary
$color_featured
$color_danger
$color_body_text
$color_gray
$text_color_primary
$text_color_secondary
$text_color_featured
$text_color_danger
$padding_button
$padding_large_button
$padding_small_button
*
*/
/**
* Specific variables (used only in this file)
*
* None
*
**/
button,
.button,
.Buttons {
    display: inline-block;
    margin-bottom: 0; 
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
    white-space: nowrap;
    font-size: 18px;
    font-family: $font_family_2;
    padding: 15px 38px 14px;
    cursor: pointer;
    user-select: none;    
    background: $color_gray;
    color: $color_body_text; 
    transition: .3s ease-out;
    @extend .border-radius;

    &:active {
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    }

    &:focus {
        text-decoration: none;
        color: $color_body_text;
    }

    &:hover {
        background: lighten($color_gray, 2%);
        color: $color_body_text;
    }

    &:last-child {
        margin-right: 0px;
    }
}

.button {


    span {
        display: inline-block;
        margin-right: 6px;

        &:last-child {
            margin-right: 0px;
        }
    }

    &__icon {
        margin-right: 6px;
        width: 16px;
        height: 16px;
        vertical-align: text-top;

        &:last-child {
            margin-right: 0px;
        }
    }

    @include modifier('large') {
        padding: $padding_large_button;
        font-size: 18px;

        .button__icon {
            width: 18px;
            height: 18px;
        }
    }

    @include modifier('small') {
        padding: $padding_small_button;
        font-size: 9px;

        .button__icon {
            width: 12px;
            height: 12px;
        }
    }

    @include modifier('primary') {
        background: $color_brand_3;
        color: $text_color_primary;
        fill: $text_color_primary;

        &:hover {
            background: $color_brand_2;
            color: $text_color_primary;
            fill: $text_color_primary;
        }

        &:focus {
            color: $text_color_primary;
            fill: $text_color_primary;
        }
    }

    @include modifier('secondary') {
        background: #fff;
        color: $color_brand_3;
        fill: $color_brand_3;

        &:hover {
            background: lighten($color_secondary, 5%);
            color: $text_color_secondary;
            fill: $text_color_secondary;
        }

        &:focus {
            color: $text_color_secondary;
            fill: $text_color_secondary;
        }
    }

    @include modifier('featured') {
        background: $color_featured;
        color: $text_color_featured;
        fill: $text_color_featured;

        &:hover {
            background: lighten($color_featured, 5%);
            color: $text_color_featured;
            fill: $text_color_featured;
        }

        &:focus {
            color: $text_color_featured;
            fill: $text_color_featured;
        }
    }

    @include modifier('danger') {
        background: $color_danger;
        color: $text_color_danger;
        fill: $text_color_danger;

        &:hover {
            background: lighten($color_danger, 10%);
            color: $text_color_danger;
            fill: $text_color_danger;
        }

        &:focus {
            color: $text_color_danger;
            fill: $text_color_danger;
        }
    }

    @include modifier('transparent') {
        background: transparent;
        color: $color_primary;
        fill: $color_primary;
        box-shadow: none;

        &:hover {
            color: lighten($color_primary, 10%);
            fill: lighten($color_primary, 10%);
            background: transparent;
            box-shadow: none;
        }

        &:active {
            box-shadow: none;
        }

        &:focus {
            background-color: transparent;
        }
    }

    @include modifier('full-width') {
        display: block;
        width: 100%;
    }

    &--right {
        float: right;

        @include breakpoint($breakpoint_tablet){
            float: left;
            clear: left;
        }
    }

    &--v1 {
        min-width: 190px;
    }

    &--full {
        width: 100%;
    }

    &--slider {
        min-width: 233px;
    } 
}

button:disabled,
.button--disabled {
    opacity: 0.7;
    pointer-events: none;
    box-shadow: none;

    &:hover {
        color: inherit;
        background-color: inherit;
    }
}
