.goals{

    &__title {
        text-align: center;
        margin-bottom: $layout_padding;
    }

    &__col {

        margin-bottom: 70px;

        &:nth-child(5n) {
            clear: left;
        }

        @include breakpoint($breakpoint_desktop){    
            width: 31.62393%;

            &:nth-child(3n) {
                margin-right: 0px;
            }

            &:nth-child(4n) {
                margin-right: 2.5641%;
            }

            &:nth-child(4n) {
                clear: left;
            }

            &:nth-child(5n) {
                clear: none;
            }
        } 

        @include breakpoint($breakpoint_mobile){    
            width: 48.71795%;            

            &:nth-child(3n) {
                margin-right: 2.5641%;
            }

            &:nth-child(2n) {
                margin-right: 0px;
            }

            &:nth-child(4n) {
                clear: none;
            }
        } 

        @include breakpoint($breakpoint_small){    
            width: 100%;
            margin-right: 0%; 
        } 

    }

    &__image {
        max-height: 90px;
        margin-bottom: 35px;
    }
}