/**
* Variables used in this file from abstracts/_variable.scss
*
$color_primary
$transition
*
*/
/**
* Specific variables (used only in this file)
*
* None
*
**/
.am2-file {        
	margin-bottom: 20px; 
	transition: $transition;
	max-width: 800px;
	margin: 0 auto;

	&__row {
		margin: 0px 0px 60px;
		padding: 0px;
		margin-left: 0px!important;

		&-item {
			border: 1px solid $color_brand_3;
			list-style: none;
			margin-bottom: 20px;	
			position: relative;
			padding-left: 0px!important;

			&:hover {
				color: #fff;
				background-color: $color_brand_3;
				border: 1px solid #e8e8e8;
			}		
		}		
	}

	&__link {
		display: block;
		line-height: 20px;
		padding: 20px 0px;

		&:hover {
			color: #fff;
			background-color: $color_brand_3;

			.am2-file__size {
				color: #fff;
			}

			.am2-file__icon {
				fill:  #fff;
			}
		}	
	}

	&__size {
		float: right; 
		position: absolute;
		right: 30px;
		top: 20px;
		color: #999;
	}

	&__title {
		display: block;
		margin-left: 105px;
		margin-right: 105px;
	}
 
 	&__subtitle { 
 		margin-bottom: 30px;
	}

	&__main-title {
		margin-bottom: 73px;
	}
 
	
	&__name {
		margin-bottom: 10px;
		font-size: 24px;
		color: $color_primary; 
	}
	
	&__description {
		width: 100%;
		
		p {
			font-size: 16px;
			line-height: 24px;
			margin-bottom: 10px;
		}
	}
	
	&__link {
		font-size: 18px;
		font-weight: 300;
		
		span {
			color: darken( $color_primary, 10% );
		}
	}

	&__icon {
		width: 24px;
		height: 30px;
		fill: $color_brand_3; 
		position: absolute;
		left: 40px;
    	top: 16px;
	}
}