/** Gallery **/

.am2-gallery {
    &__image{
        margin-bottom: 2.5%;

        @include breakpoint($breakpoint_tablet){     
            width: 31.33%;

            &:nth-child(2n) {
				margin-right: 2.5641%;
			}

            &:nth-child(3n) {
				margin-right: 0%;
			}
        }

        @include breakpoint($breakpoint_small){
			width: 48.7%;

			&:nth-child(3n) {
				margin-right: 2.5641%;;
			}


			&:nth-child(2n) {
				margin-right: 0%;
			}
		}

		img.taller {
			max-width: inherit;	
		}

        &--last {
	    	background-color: $color_brand_3; 
    		padding-bottom: 23%;
    		margin-right: 0%!important;

    		@include breakpoint($breakpoint_tablet){     
	            padding-bottom: 31.5%; 
	        }

	        @include breakpoint($breakpoint_small){
	        	padding-bottom: 49%;
	        }

    		a {
    			color: #fff;
			    position: absolute;
			    left: 0;
			    right: 0;
			    top: 0;
			    bottom: 0;
			    text-align: center;
			    padding-top: 40%;
    		}
	    }
    }

    &__title {
    	font-size: 39px;
    }
}

