.intro-text {
    font-size: 28px;
    padding: 80px 0 0px;
    font-weight: 100;
    width: 65.813%;
    float: right;
    line-height: 42px;
    margin-bottom: -35px;

    @include breakpoint($breakpoint_tablet){
        width: 100%;
    } 
}