.contact-form {
   
    padding: $layout_padding 0px 50px;


    .button {
        width: 240px;
    }

    &_main {
        margin-bottom: 40px;

        @include breakpoint($breakpoint_mobile){     
            .col-12 {
                width: 100%;
                margin: 0;
            }
        }
    }

    h2 {
        margin-bottom: 31px;
    }

    label {
        margin-bottom: 0px;
        line-height: 48px;
    }

    input {
        border: none;
        font-style: italic;
        line-height: 45px;
        min-height: 45px;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
    }

    input[type=submit] {
        font-style: normal;
        line-height: 32px;

        &:hover {
            background-color: $color_brand;
        }
    }

    &_row {
        margin: 0px;        
    }
}

.screen-reader-response {
    display: none;
}
.wpcf7-not-valid-tip {
    color: red;
    position: absolute;
    font-weight: 100;
    font-style: italic;
    left: 15px;
    margin-top: 8px;
    width: 100%;
}
.wpcf7-form-control-wrap {
    position: relative;
}
.wpcf7-not-valid {
    border: 1px solid red!important;
}