.logo {
    float: left;
    margin: 0px;
    line-height: $header_lineheight;
    max-width: 125px;

    @include breakpoint($breakpoint_mobile) {
        height: auto;
        max-width: 180px;
    }

    &__image {
        width: 120px;
        padding-bottom: 180px;
        background-position: center center;
        background-size: 100%;
        background-repeat: no-repeat;
        transition: $transition;

        @include breakpoint($breakpoint_laptop) {
            padding-bottom: 140px;
        }
    }    

    &__link {
        display: block;
        font-size: 24px;
        color: #ffffff;

        img {
            width: 100%;
            vertical-align: middle;
        }

        &:hover {
            color: #eeeeee;
        }
    }
}