.main-navigation {
    padding: 0;
    display: block;
    margin-left: 170px;    
}
.menu {
	margin: 0;
	padding: 0;
	list-style: none;
	
	.sub-menu {
		background-color: #fff;
		filter: alpha(opacity=0);
		left: auto;
		min-width: 320px;
		opacity: 0;
		padding: 0;
		margin: 0;
		position: absolute;
		text-align: left;
		top: 120%;
		transition: $transition;
		visibility: hidden;
		width: auto;
		z-index: 1030;
		list-style-type: none;
		-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
		box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);

			@include breakpoint($breakpoint_laptop){
				visibility: visible;
				opacity: 1;
				border-top: 0;
				display: none;
			}
			@include breakpoint($breakpoint_small){
				visibility: visible;
				opacity: 1;
				border-top: 0;
			}

		.menu-item{
			float: left;
			margin: 0;
			padding: 0px 20px;
			width: 100%;
			position: relative;
			border-top: 1px solid rgba(255,255,255,.03);
 
				@include breakpoint($breakpoint_desktop){
					padding: 0 5px;
				} 
			a{
				font-size: 18px;
				padding: 15px;
				display:block;
				font-weight: 100;
				border-bottom: 1px solid #e9e9e9;
				line-height: 18px;				
				text-transform: inherit;
				text-align: left;

				@include breakpoint($breakpoint_desktop){
					font-size: 15px;
				} 
			}

			&:last-child{
				a {
					border-bottom: 0px;
				}
			}
		}
	}

	&-top {
		position: absolute;
		top: 20px;
		right: 0.82%;
		transition: $transition;

		.menu{
			display: inline-block;
			vertical-align: middle;
		}

		.social {
			display: inline-block;
			vertical-align: middle;
		}

		a {
			color: $color_brand_3;
			text-transform: lowercase;
			font-family: $font_family_2;

			@include breakpoint($breakpoint_laptop){
	            color: #fff;
	            padding: 0px 0px 0px 15px;
	        }
		}

		.social__icon {
			border-color: $color_brand_3;

			@include breakpoint($breakpoint_laptop){
	            border-color: #fff;
	        }

			svg use {	
				fill: $color_brand_3;

				@include breakpoint($breakpoint_laptop){
		            fill: #fff;
		        }
			}
		}

		&--desktop {
			display: block;

			@include breakpoint($breakpoint_laptop){
	            display: none;
	        }
		}

		&--responsive {
			display: none;

			a {
				color: $color_brand_3;
			}

			@include breakpoint($breakpoint_laptop){
	            display: block;
	            position: relative;
	        }
		}
	}
	@include modifier('main-menu') {
		/* in sake of wordpress css class naming standards -.-  */
		text-align: justify; 
		height: $header_lineheight;

		&:after {
			content: "";
			width: 100%; 
			display: inline-block;
		}

		.menu-item {
			margin: 0 0 0 15px;
			line-height: 165px;
			position: relative; 
			display: inline-block;
			vertical-align: top;
			/* IE fix. */
			*display: inline; 			

			&:first-child {
				margin: 0px;
			}

			&:hover {
				svg {
					fill: $color_secondary;
				}				
			}

			.sub-menu {
				a {
					font-weight: 100;
					font-family: $font_family;
				}
			}

			a {
				text-align: center;
				display: block;
				color: #414141;
				font-family: $font_family_2;
				font-size: 23px;  
				background-position: center 191px;
				padding: 15px 0 0;

				&:hover {
					color: $color_secondary;
					background: url('../images/arrows-up.svg') no-repeat center bottom transparent;  
				}
			}

			&.menu-item-has-children {
				a { 
					&:hover {
						color: $color_secondary;
						background: none;  
					}
				}
			}

			.submenu-button {
			    position: absolute;
			    right: -17px;
			    fill: #525252;
			    width: 8px;
			    height: 7px;
			    top: 95px;
			    transition: $transition;
			}
			&:hover{
				.sub-menu{
					top: 100%;
					opacity: 1;
					visibility: visible;

					li{

						a{
							color: $color_brand_3;
							line-height: 1.4;
							transition: $transition;
							font-family: $font_family;
						}
						&:hover{
							background-color: $color_brand_3;


							a{
								color: #fff;
								transition: $transition;
								border-bottom: 1px solid $color_brand_3;
							}
						}
					}
				}
			}
		}

		.current-menu-item {		
			a {
				color: $color_brand_2;				
			}
			
			.submenu-button {
				fill: $color_brand_2;
			}
		}
        
        @include breakpoint($breakpoint_laptop){
            display: none;
        }

	}

	@include modifier('responsive-menu') {
		position: relative;
		width: 100%;
		margin-top: 35px;

		.sub-menu {
			width: 89%;
			position: relative;
			padding: 0px;
			margin: 0px 5%;			
			min-width: inherit;
			border-bottom: #e9e9e9 1px solid; 
			float: left;
			-webkit-box-shadow: none;
            -moz-box-shadow: none;
			box-shadow: none;

			.menu-item {
				padding: 0px; 
				border-top: none;
				padding: 15px 0px 0px;

				a {
					background: #fff;
					margin: 0px;
					padding: 0px 20px 0px;
					border: none;
					font-family: $font_family;
					color: $color_brand_3;
				}

				&:last-child {
					padding-bottom: 15px;
				}
			}
		}

		.menu-item {
			position: relative;
			display: block;
			margin: 0;
			clear: both;

			a {
				padding: 5px 0px;
				margin: 0px 15px;
				border-bottom: #e9e9e9 1px solid;
				color: $resposive_menu_color;
				display: block;
				color: #424242;
				font-family: $font_family_2;
				position: relative;
				z-index: 15;
			}

			.submenu-button {
				position: absolute;
				z-index: 9;
				top: 0;
				width: 46px;
    			height: 46px;
				right: 0px;
				padding: 18px; 

				polygon {
					fill: $resposive_menu_color;
				}
			}

		}
	}
}
/*
.current_page_ancestor {
	a {
		color: $color_brand_2!important;
		fll				
	}
}*/


/* responsive menu elements */
.resp-menu {
	position: fixed;
	top: 0;
	height: 120%;
	background-color: #fff;
	padding-bottom: 35%;
	width: $resposive_menu_width;
	right: -$resposive_menu_width;
	overflow-y: scroll; 
	z-index: 9999;
	z-index: 55555555;
	-webkit-box-shadow: -7px 0px 10px -5px rgba(0,0,0,0.32);
    -moz-box-shadow: -7px 0px 10px -5px rgba(0,0,0,0.32);
	box-shadow: -7px 0px 10px -5px rgba(0,0,0,0.32);
	padding: 0px 10px;
}

.resp-buttons {
	position: relative;
	display: none;
    
    @include breakpoint($breakpoint_laptop){
        display: inline-block;
        margin-top: 55px;
        margin-right: 2px;            
    }

    &--close {
    	margin-top: 14px;
    }

    &--open {

    }
}

.resp-menu-icon {
	position: relative;
	display: inline-block;
	width: 28px;
	height: 21px;
	cursor: pointer;

	@include element('line') {
		backface-visibility: hidden;
		position: absolute;
		left: 0;
		border-top: 3px solid $color_header_text;
		width: 100%;
		border-radius: 3px;

		@include modifier('top') {
			top: 0px;
		}

		@include modifier('middle') {
			top: 9px;

		}

		@include modifier('bottom') {
			top: 18px;
		}

	}

}

.menu-open {
	overflow: hidden;

	.resp-menu {
		right: 0;
	}

	.resp-buttons--open {
		display: none;
	}

	.resp-menu-icon {

		@include element('line') {

			@include modifier('top') {
				top: 0px;
				transform: rotate(45deg);
				color: #B39977;
			}

			@include modifier('middle') {
				opacity: 0;
			}

			@include modifier('bottom') {
				top: 0px;
				transform: rotate(-45deg);
				color: #B39977;
			}

		}
	}
}


.activemenu {
	a {
		color: #68c6ce!important;
	}

	svg {
		fill: #68c6ce!important;
	}
}