/*** Map ***/

.am2-map {
    position: relative;
    display: block;
    width: 100%;
    height: 652px;
    @extend .border-radius;
}

.map-block {
	position: relative;  
	padding: 35px 0px;
	min-height: 722px;

	&__title {
		font-size: 56px;

		@include breakpoint($breakpoint_mobile){    
            font-size: 40px;                   
        } 
	}

	&__data {
		margin-bottom: 45px;

		a {
			color: #4e4e4e;
		}
		p {
			margin: 0 0 10px 0;
		}
	}	

	&__hours {
		p {
			margin: 0 0 10px 0!important;
		}
	}

	&__left {
		padding: 54px 0px 0px;

		@include breakpoint($breakpoint_desktop){     
			width: 100%;
			margin: 0;
			padding: 0px;
		}
	}

	&__right {
		right: 30px;
	    position: absolute;
	    top: 35px;

		@include breakpoint($breakpoint_desktop){     
			width: 100%;
			margin: 0;
			right: 0;
			position: relative;
		}
	}
}