.slika-tekst {
	padding: 95px 0px;

	@include breakpoint($breakpoint_desktop){
		padding: 80px 0px;

		&:nth-child(2) {
			padding: 0px 0px 80px;
		}
	} 

	@include breakpoint($breakpoint_mobile){
        padding: 40px 0px;
    }

	&__top {
		font-size: 18px;
		font-family: $font_family_2;
		display: block;
		margin-bottom: 8px;
	}

	&__title {
		font-size: 56px;
		color: $font_color_1;

		@include breakpoint($breakpoint_mobile){    
            font-size: 40px;                   
        } 
	}

	&__content {
		margin-bottom: 43px;
	}

	@include breakpoint($breakpoint_desktop){   
		&__animation { 
			&--sec {
				top: -35px!important;
			}		
		}
	}

	@include breakpoint($breakpoint_small){    

		&__animation { 
			margin-top: 35px!important;

			&--sec {
				margin-top: 115px!important;
			}		
		}
	}

	@include breakpoint($breakpoint_small){    

		&__animation { 
			margin-top: 6px!important;

			&--2{
				margin-top: 70px!important;
			}
			&--sec {
				top: -85px!important;
			}		
		}
	}

	&__absolute {
		position: absolute;
		margin: 0 auto;
		top: 40px;
		bottom: 0;
		left: 0;
		right: 0;
		max-width: 370px;		

		@include breakpoint($breakpoint_small){    
            width: 200px;                   
        } 
	}

	&:nth-child(odd) {
		.text {
			float: left;
		}

		.image {
			float: right;
			text-align: center;
		}
	}

	&:nth-child(even) {
		.text {
			float: right;
		}

		.image {
			float: left; 
		}
	}	

	&--v1 {
		.image {
			float: left!important; 
		}
		.text {
			float: right!important; 
		}
	}

	&__row {
		width: 100%;

		
		&-text {
			width: 58%;

			@include breakpoint($breakpoint_desktop){
				width: 100%;
				margin-bottom: 35px; 
				text-align: center;
			}
		}

		&-image {
			position: relative;

			@include breakpoint($breakpoint_desktop){
				width: 100%;
			} 
		}		
	}

	&__quotation {
		font-size: 39px;
		max-width: 370px;
		line-height: 48px;
		width: 100%;
		font-weight: 100;
		font-style: italic;
		padding: 0px 45px; 

		@include breakpoint($breakpoint_small){
			font-size: 22px;
			line-height: 28px;
			max-width: 300px;
		}

		&-author {
			font-size: 22px;
			display: block;
			margin-top: 10px;

			@include breakpoint($breakpoint_small){
				font-size: 17px;
			}
		}


		&-quote {
			font-size: 59px;
			font-family: $font_family_2;
			display: block;
			line-height: 50px;
			margin-top: 20px;
			-moz-transform: scale(-1, 1);
			-webkit-transform: scale(-1, 1);
			-o-transform: scale(-1, 1);
			-ms-transform: scale(-1, 1);
			transform: scale(-1, 1);

			@include breakpoint($breakpoint_small){
				margin-top: 0px;
			}
		}
	}
}
.invisible {
   opacity: 0;
   /* transition: $transition; */

   &.animated {
       opacity: 1;
   }
}
.scroll-div {
	transform: translate3d(0px, -14.7988px, 0px);
}
    
