/*** Slider ***/

.am2-slider {

	&__content {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 50%;
		color: #fff;
		text-align: center;
		z-index: 1;
		transform: translate(-50%, -61%);

		@include breakpoint($breakpoint_small){    
	        width: 97%;               
	    } 

		p {
			margin: 0px 0px 5px;
			font-family: $font_family_2;
		}

		h2 {
			font-weight: 100;
			font-family: $font_family;
			font-size: 52px;
			margin-bottom: 57px;

			@include breakpoint($breakpoint_desktop){	
				font-size: 30px;
				margin-bottom: 25px;	 		        
		    }  
		    @include breakpoint($breakpoint_small){    
		        font-size: 25px;             
		    } 
		}
	}
 
	&__overlay {
		position: absolute;
		opacity: 0.5;
		background-color: #000;
		left: 0; 
		right: 0;
		top: 0;
		bottom: 0; 
	}
 

	&__image {
		padding-bottom: 690px;
		background-position: center center;
		position: relative;   


		@include breakpoint($breakpoint_desktop){	
			padding-bottom: 55%;		 		        
	    } 

	    @include breakpoint($breakpoint_mobile){	
			padding-bottom: 75%;		 		        
	    } 

	    @include breakpoint($breakpoint_small){	
			padding-bottom: 310px;		 		        
	    } 
	}
}