.social {
	padding: 0px;

	&__item {
		list-style-type: none;
		display: inline-block;
		margin: 0px 5px;

		@include breakpoint($breakpoint_mobile){
			&:last-child {
				margin-right: 2px;	
			}
		}
	}

	a {
		display: block;
	}

	&__icon {
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		border: 1px solid #fff;
		display: inline-block;
		vertical-align: middle;
		width: 33px;
		height: 33px;

		svg {  
			width: 17px; 
    		height: 31px;
			margin: 0 auto; 
			display: block;
			transition: $transition;
			fill: $color_brand_3;
			
			use {
			    fill: #ffffff;
			}

			&:hover {
				opacity: 0.6;
			}
		}
	}

	&-share {
		width: 42px;
		height: 42px;
		background-color: #f0fafb;
		@extend .border-radius--v1; 
		margin-bottom: 5px;
		display: inline-block;
		position: relative;

		svg {
			fill: $color_brand_3;
			position: absolute;
			left: 0;
			right: 0;
		    width: 20px;
		    height: 20px;
		    top: 29%;
		    margin: 0 auto;
		}
 		
 		&__icon {
 			display: block;
		    width: 100%;
		    height: 100%;
 		}

 		&:hover {
	    	background-color: $color_brand_3;
	    	transition: $transition;

	    	svg {
	    		fill: #fff;
	    	}
	    }
	}
}