.values{

    padding: $layout_padding 0px;

    &__title {
        text-align: center;
        margin-bottom: 80px;
    }

    &__image {
        padding-bottom: 100%;
        width: 100%; 
        margin-bottom: 30px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }

    &__name {
        font-size: 32px;
        color: $color_brand_3;
        margin: 0px;
    }

    &__bubble {
        color: #4e4e4e;  
        display: inline-block;
        vertical-align: middle;           
        text-align: center; 

        &--v1 {
            background: url('../images/vrijednosti.svg') no-repeat 0 0; 
        }

        &--v2 {
            background: url('../images/vrijednosti-1.svg') no-repeat 0 0; 
        }

        &--v3 {
            background: url('../images/vrijednosti-2.svg') no-repeat 0 0; 
        }

        &--v4 {
            background: url('../images/vrijednosti-3.svg') no-repeat 0 0; 
        }

        &:first-child {
            width: 19.5%;
            line-height: 171px;
            background-size: 100% 171px;
            background-position: center;
            margin-right: 4%;

            @include breakpoint($breakpoint_desktop){    
                width: 32%;   
            }

            @include breakpoint($breakpoint_mobile){    
                width: 34%;   
            }

            @include breakpoint($breakpoint_small){    
                width: 100%; 
                margin-bottom: 15px;  
            }
        }

        &:nth-child(2) {
            width: 28.5%;
            background-size: 100% 232px;
            background-position: center;
            line-height: 232px;
            margin-right: 4%;

            @include breakpoint($breakpoint_desktop){    
                width: 33%;  
                margin-right: 2%;
            }

            @include breakpoint($breakpoint_mobile){    
                width: 54%;  
                margin-right: 0%; 
            }

            @include breakpoint($breakpoint_small){    
                width: 100%; 
                margin-bottom: 15px;   
            }
        }

        &:nth-child(3) {
            width: 25%;
            background-size: 100% 169px;
            background-position: center;
            line-height: 169px;
            margin-right: 3.6%; 

            .widtheer {
                width: 229px;
                height: 112px;
            }
            

            @include breakpoint($breakpoint_desktop){    
                width: 26%;   
                margin-right: 0%; 
            }

            @include breakpoint($breakpoint_mobile){    
                width: 47%;   
            }

            @include breakpoint($breakpoint_small){    
                width: 100%;
                margin-bottom: 15px;    
            }
        }

        &:nth-child(4) {
            width: 14%;
            background-size: 100% 112px;
            background-position: center;
            line-height: 112px;

            @include breakpoint($breakpoint_desktop){    
                width: 21%;   
                margin-left: 15%;
                margin-right: 9%;
            }

            @include breakpoint($breakpoint_mobile){    
                width: 45%;   
                margin-right: 0%;
                margin-left: 5%;
            }

            @include breakpoint($breakpoint_small){    
                width: 100%;   
                margin-bottom: 15px; 
                margin-left: 0%;
            }
        }

        &:nth-child(5) {
            width: 26%;
            background-size: 100% 242px;
            background-position: center;
            line-height: 242px;
            clear: left;
            margin-left: 8%;
            margin-right: 6%;

            @include breakpoint($breakpoint_desktop){    
               width: 41%; 
               margin-left: 0%;  
            }

            @include breakpoint($breakpoint_mobile){    
                width: 57%;   
                margin-right: 0%;
                margin-left: 15%;
            }

            @include breakpoint($breakpoint_small){    
                width: 100%; 
                margin-bottom: 15px;  
                margin-left: 0%; 
            }
        }

        &:nth-child(6) {
            width: 30%;
            background-size: 100% 231px;
            background-position: center;
            line-height: 231px;
            margin-right: 6%;

            @include breakpoint($breakpoint_desktop){    
                width: 28%; 
                 margin-right: 2%;  
            }

            @include breakpoint($breakpoint_mobile){    
                width: 48%;   
            }

            @include breakpoint($breakpoint_small){    
                width: 100%;   
                margin-bottom: 15px; 
            }
        }

        &:nth-child(7) {
            width: 22%;
            background-size: 100% 233px;
            background-position: center;
            line-height: 233px;
            margin-right: 0;

            @include breakpoint($breakpoint_desktop){    
               margin-right: 0%; 
               width: 30%;  
            }

            @include breakpoint($breakpoint_mobile){    
                width: 48%;   
            }

            @include breakpoint($breakpoint_small){    
                width: 100%;   
                margin-bottom: 15px; 
            }
        }

        &:nth-child(8) {
            width: 33%;
            background-size: 100% 233px;
            background-position: center;
            line-height: 233px;
            clear: left;
            margin-left: 21%;
            margin-right: 6%;

            @include breakpoint($breakpoint_desktop){    
               margin-left: 2%;
               margin-right: 0;
               width: 36%;   
            }

            @include breakpoint($breakpoint_mobile){    
                width: 50%;   
            }

            @include breakpoint($breakpoint_small){    
                width: 100%; 
                margin-bottom: 15px;   
            }
        }

        &:nth-child(9) {
            width: 23%;
            background-size: 100% 185px;
            background-position: center;
            line-height: 185px;

            @include breakpoint($breakpoint_desktop){     
               width: 32%;   
            }

            @include breakpoint($breakpoint_mobile){    
                 margin-left: 5%; 
                 width: 40%;

            }
            @include breakpoint($breakpoint_small){    
                width: 100%;   
                margin-bottom: 15px; 
                margin-left: 0%;
            }
        }
    }
 
}