.employees{
    
    margin-bottom: 25px;

    &__title {
        text-align: center;
        margin-bottom: 80px;
    }

    &__image {
        padding-bottom: 100%;
        width: 100%; 
        margin-bottom: 22px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }

    &__name {
        font-size: 32px;
        color: $color_brand_3;
        margin: 0px;
    }

    &__job {
        color: #4e4e4e;
    }

    blockquote { 
        color: #848282;
        font-size: 23px;
        margin: 0px 20px;
        font-weight: 100;
        font-style: italic;

        &:before {
            content: ' ';
            background: url('../images/quote.svg') no-repeat 0 0;
            display: block;
            width: 25px;
            height: 18px;     
            margin: 20px auto 15px;     
        } 

        h4 {
            font-size: 18px;
        }
     }

    &__col {
        text-align: center;
        margin-bottom: 70px; 

        &:nth-child(4n) {
            clear: left;
        } 

        @include breakpoint($breakpoint_tablet){    
            width: 48.71795%;            

            &:nth-child(3n) {
                margin-right: 2.5641%;
            }

            &:nth-child(2n) {
                margin-right: 0px;
            }

            &:nth-child(4n) {
                clear: none;
            }
        } 

        @include breakpoint($breakpoint_small){    
            width: 100%;
            margin-right: 0%; 
        } 
    } 
}