/**
*
* Variables
*
**/
/** Grid **/
// static/sass/layout/_am2_grid.scss
$grid_content: 1170px; //wrapper
$grid_content_narrow: $grid_content*0.8;
$grid_margin: 30px;
$grid_padding: 15px;

$layout_padding: 80px;

/* refractor this vars */
$color_brand: #9bce4f;  // zelena
$color_brand_2: #face2d;  // žuta
$color_brand_3: #68c6ce;  // plava 
$color_button_text: #fff;
$color_button_background: $color_brand;
$color_button_text: #fff;
$color_button_background_hover: darken($color_brand,10%);
$color_button_text_hover: #fff;

$bg_color_1: #4e4e4e; 
$bg_color_2: $color_brand_2;  
$bg_color_3: $color_brand_3;  
$bg_color_4: #6a7a7b;   // siva


// header
$color_header_background: $color_brand;
$color_header_text: $color_brand_3;

$header_lineheight: 180px;
$header_lineheight_2: 85px;
$header_lineheight_3: 45px;

// responive navigation
$resposive_menu_open_speed: .3s;
$resposive_menu_width: 280px;
$resposive_menu_background: darken(#68c6ce, 10%);
$resposive_menu_background_hover: darken($resposive_menu_background,10%);
$resposive_menu_color: #ffffff;
$resposive_menu_color_hover: #ffffff;

$component_margin: 19px;
$component_margin_p: 30px;

$header_height: 60px;
$footer_height: 80px;

/** Typography **/
// static/sass/base/_font.scss 
$font_family: 'Aller', sans-serif;
$font_family_2: 'AllerDisplay', sans-serif;
$font_size: 18px;
$font_line_height: 20/14;

//font color
$font_color_1: #4e4e4e; 


/** Buttons **/
$padding_button: 10px 13px;
$padding_large_button: 14px 20px;
$padding_small_button: 6px 8px;

/**
*
* Colors
*
**/

/** General **/
/** Body **/
$color_body_background: #ffffff;
$color_body_text: #4e4e4e; 
$color_section_text: #333333;

$color_primary: #39b54a;
$color_secondary: $color_brand_3;
$color_featured: #CC7D2C;
$color_danger: #B2153D;

$text_color_primary: #ffffff;
$text_color_secondary: #ffffff;
$text_color_featured: #ffffff;
$text_color_danger: #ffffff;

$color_light_gray: #f7f7f7;
$color_gray: #ecedf0;
$color_dark: #333333;

/** Links **/
$color_link: #68c6ce;
$color_link_hover: $color_brand_2;

/** Sidebar **/
$color_sidebar_background: #2a2a2a;
$sidebar_width: 250px;

/**
*
* Transitions
*
**/
$transition: all 300ms ease 0s;
$transition_2: all 20ms ease 0s;
/**
*
* Breakpoints
*
**/
$breakpoint_small : 440;
$breakpoint_mobile : 640;
$breakpoint_tablet : 768;
$breakpoint_desktop : 1024;
$breakpoint_laptop : 1240;
